.payment{
	background-color: $color--lightgray;	
	letter-spacing: 2px;
	padding: 85px 0 120px;
	.bg-ab{
		position: absolute;
	}
	.bg-setting{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		@include box(100%,100%);
	}
	a{
		color: #666;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;	
	}
	section{
		padding: 25px 0;
	}
	.va-m{
		vertical-align: middle;
	}
	.ob-ib{
		display: inline-block;
	}
	.ft-300{
		font-weight: 300;
	}
	.ft-700{
		font-weight: 700;
	}
	.mb-10{
		margin-bottom: 10px;
	}
	.mb-20{
		margin-bottom: 20px;
	}
	.ft-gray{
		color: #7F7F7F;
	}
	.ft-light-gray{
		color: #e5e5e5;
	}
	.ft-white{
		color: #fff;
	}
	.inner-pd{
		padding: 25px 0;
	}
	.right-brd{
		border-right: 1px solid $color--lightgray;
	}
	.navbar{
		padding: 25px;
	}
	.cc-bg{
		left: calc(50% - 574px);
		top: 160px;
	}
	.info{
		border: solid 1px $color--darkgray;
		padding: 10% 5%;
		h3{
			font-weight: lighter;
		}
		.profile-pic{
			display: inline-block;
			@include box(56px,56px);
			border-radius: 50%;
			border: solid 4px $color--white;
			margin-right:15px; 
		}
	}
	#btm-nav{
		padding: 0;
		background-color: $color--white;
		border-left: solid 7px $color--darkred;
		box-shadow: 0 -5px 15px $color--shadow;
		.title{
			margin-top: -10%;
		}
		.subtitle{
			font-size: 10px
		}
		.content{
			position: relative;
			font-size: 15px;
			padding: 15px 0;
		}
		.visa{
			position: absolute;
			top: calc(50% - 12.5px);
			right:15px;
			width: 40px;
		}
		.p-btn{
			margin-top: -1px;
			padding: 48px 0;
			background-color: $color--brown;
		}
	}
}