body{
  height: 100vh;
  background-color: #1C192E;
  padding:20px;
}
// card color
$c--blue: #CDDBED;
$c--purple: #553860;
$c--red: #A5435D;
$c--orange: #F18264;
$c--yellow: #FEE177;
// card layout
$card-top: 80px;
$card-left: 20px;
$card-radius: 10px;
$card-padding: 20px;
$card-transition: .3s ease-in-out;

@mixin cardSet($bgColor, $textColor, $offset){
  background: $bgColor;
  transform: translateX($card-left * $offset) translateY($card-top * $offset);
  .bar{
    background-color: $textColor;
  }
  h2{
    color: $textColor;
  }
  &.slide-right{
    transform: translateX(100%) translateY($card-top * $offset);
  }
}

.card-wrap{
  background-color: $c--blue;
  padding: $card-padding;
  position: relative;
  max-width:375px;
  margin:0 auto;
  height: 100%;
  border-radius: $card-radius;
  overflow: hidden;
}
.card{
  width:100%;
  height:100%;
  padding: $card-padding;
  border-radius: $card-radius;
  position: absolute;
  top:0;
  left:0;
  cursor: pointer;
  transition: $card-transition;
  h2{
    text-transform: uppercase; 
    display: inline-block;
    margin:0;
    vertical-align: middle;
    margin-left:-20px;
    transition: $card-transition;
  }
  &:not(.active):active{
    background-color: #fff;
  }
  &.active{
    transform: translateX(0) translateY(0);
    cursor: default;
    .burger{
      opacity: 1;
      margin-left:0;
    }
    h2{
      margin-left: 0;
    }
  }
  &.slide-top{
    transform: translateX(0) translateY(0);
  }
  &-purple{
    @include cardSet($c--purple, $c--orange, 1);
  }
  &-red{
    @include cardSet($c--red, $c--yellow, 2);
  }
  &-orange{
    @include cardSet($c--orange, $c--purple, 3);
  }
  &-yellow{
    @include cardSet($c--yellow, $c--red, 4);
  }
}
.bar{
  height:4px;
  border-radius: 4px;
}
.burger{
  width:30px;
  display: inline-block;
  vertical-align: middle;
  margin-right:20px;
  margin-left:-20px;
  cursor: pointer;
  opacity: 0;
  transition: $card-transition;
  .bar{
    margin-bottom:6px;
  }
}
.close {
  width:30px;
  height:30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: $card-transition;
  .bar{
    background-color: #7197AF;
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    &:first-child{
      transform: rotateZ(45deg);
    }
    &:last-child{
      transform: rotateZ(-45deg);
    }
  }
  &.slide-down{
    transform: rotateZ(90deg) translateY(15px);
    transform-origin: left bottom;
  }
}
