.transition{
	background-color: $color--darkppl;
	font-weight:800;
	letter-spacing:1px;
	.mask{
		overflow:hidden;
		margin: calc( 25% - 308.5px) calc( 50% - 180px);
		border-radius: 11px;
		position: relative;
		@include box(360px,617px);
		img.burger{
			transition: .1s;
			position: absolute;
		}
		span, .cd-prpl, .cd-red, .cd-org, .cd-ylw,.cover{
			transition: 0.4s;
			position: absolute;
		}
		span{
			@include position($card-pos-unit,$card-pos-unit);
		}
		.cd{
			&-prpl{
				@include position($card-pos-unit*3,$card-pos-unit);
			}
			&-red{
				@include position($card-pos-unit*6,$card-pos-unit*2);
			}
			&-org{
				@include position($card-pos-unit*9,$card-pos-unit*3);
			}
			&-ylw{
				@include position($card-pos-unit*12,$card-pos-unit*4);
			}
		}
		img.burger{
			@include position($card-pos-unit,0);
			opacity:0;
		}
		.cover{
			@include position(0,0);
			@include box(100%,100%);
			opacity:0;
			border-radius: 10px;
		}
	}
	.mask.active{
		img.burger{
			@include position($card-pos-unit,$card-pos-unit);
			opacity:1;
		}
		span{
			@include position($card-pos-unit,$card-pos-unit*3);
		}
		img.cancel{
			margin-top: 100px;
			opacity:0;
			transform: rotate(180deg);
		}
	}
	.mask.ss-prpl{
		.cd-prpl{
			@include position(0px,0px);
		}
		.cd-red,.cd-org,.cd-ylw{
			left:100%;
		}
		a.cd-prpl .cover{
			opacity:1;
			background-color: $color--purple;
		}	
	}
	.mask.ss-red{
		.cd-prpl,.cd-red{
			@include position(0px,0px);
		}
		.cd-org,.cd-ylw{
			left:100%;
		}
		a.cd-red .cover{
			opacity:1;
			background-color: $color--red;
		}	
	}
	.mask.ss-org{
		.cd-prpl,.cd-red,.cd-org{
			@include position(0px,0px);
		}
		.cd-ylw{
			left:100%;
		}
		a.cd-org .cover{
			opacity:1;
			background-color: $color--orange;
		}	
	}
	.mask.ss-ylw{
		.cd-prpl,.cd-red,.cd-org,.cd-ylw{
			@include position(0px,0px);
		}
		a.cd-ylw .cover{
			opacity:1;
			background-color: $color--yellow;
		}	
	}
	.card{
		@include box(360px,617px);
		border-radius: 10px;
		position: relative;
		overflow:hidden;
	}
	.sub-card{
		@include box(100%,100%);
	}
	.cd-blue{
		background-color: $color--lihgtblue;
	}
	.cd-prpl{
		.sub-card{
			background-color: $color--purple;
		}		
		span{
			color: $color--orange;
		}	
	}
	.cd-red{
		.sub-card{
			background-color: $color--red;
		}
		span{
			color: $color--yellow;
		}
	}
	.cd-org{
		.sub-card{
			background-color: $color--orange;
		}
		span{
			color: $color--purple;
		}
	}
	.cd-ylw{
		.sub-card{
			background-color: $color--yellow;
		}
		span{
			color: $color--red;
		}
	}
	.cd-white{
		background-color: $color--white;
	}
	img.cancel{
		transition:0.3s;
		opacity:1;
		margin:25px;
	}
}
