$color-light-grey:#999;
$color-grey:#666;
$color-dark:#333;
$color-primary:#26bec9;
$color-red:#a7425c;
$color-purple:#563761;
$color-orange:#f3825f;
$color-yellow:#ffe26f;
$text-sm:13px;
$text-lg:20px;
$text-600:600;