<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animation Card</title>
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor/bootstrap4/bootstrap.css">
    
</head>
<body>
    <div class="card-bg">
        <div class="card-outer">
            <a href="">
                <img src="assets/img/close.png" alt="">
            </a>
            <div class="card card-purple">
                <div class="title title-orange">CONTACT</div>
            </div>
            <div class="card card-red">
                <div class="title title-yellow">ABOUT</div>
            </div>
            <div class="card card-orange">
                <div class="title title-red">TEAM</div>
            </div>
            <div class="card card-yellow">
                <p class="title title-orange">Project</p>
            </div>
        </div>
    </div>
</body>
</html>