<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colorful Cards</title>

	<link rel="stylesheet" href="css/page_card.css">
	<script>
    document.addEventListener('DOMContentLoaded', function(){
			"use strict";
			var cards = document.querySelectorAll('.card');
      var closeBtn = document.querySelector('.close');
      var burgerBtns = document.querySelectorAll('.burger');
			var activeCard;
      cards.forEach(function(card, index, cardList){
        card.addEventListener('click', function(){
					closeBtn.setAttribute('data-for', this.id);
					closeBtn.classList.add('slide-down');
          card.classList.add('active');
          for(var i = 0; i < index; i++){
						var prevCards = cardList[i];
						prevCards.classList.add('slide-top');
					}
					for(var i = 1; i < cardList.length - index; i++){
						var nextCards = cardList[index + i];
						nextCards.classList.add('slide-right');
					}
				}, false);
			});

			burgerBtns.forEach(function(burgerBtn){
				burgerBtn.addEventListener('click', function(){
          event.stopPropagation();
          closeBtn.classList.remove('slide-down');
          cards.forEach(function(card){
            card.classList.remove('active','slide-right', 'slide-top');
          });
				}, false);
			});
      
      closeBtn.addEventListener('click', function(){
        var target = '#' + this.getAttribute('data-for');
        document.querySelector(target).click();
      }, false);

		});
	</script>
</head>
<body>
	<div class="card-wrap">
		<div class="close" data-for="yellow">
			<div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="card card-purple" id="purple">
      <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <h2>Contact</h2>
    </div>
    <div class="card card-red" id="red">
      <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <h2>About</h2>
    </div>
    <div class="card card-orange" id="orange">
      <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <h2>Team</h2>
    </div>
    <div class="card card-yellow" id="yellow">
      <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <h2>Projects</h2>
    </div>
	</div>
	
</body>
</html>
