<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colorful Cards</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/page_card.css">
	<script>
		window.onload = function(){
			"use strict";
			var cardRadios = document.querySelectorAll('.card-radio');
			var cards = document.querySelectorAll('.card');
			var closeBtn = document.querySelector('.close');
			var burgerBtns = document.querySelectorAll('.burger');
			
			cardRadios.forEach(function(cardRadio, index, cardRadioList){
				cardRadio.addEventListener('click', function(){
					var cardId = this.id;

					closeBtn.setAttribute('for', cardId);
					closeBtn.classList.add('slide-down');
					
					for(var i = 0; i < index; i++){
						var prevRadios = cardRadioList[i];
						var prevCards = prevRadios.parentElement.lastElementChild;
						prevCards.classList.add('slide-top');
					}

					for(var i = 1; i < cardRadioList.length - index; i++){
						var nextRadios = cardRadioList[index + i];
						var nextCards = nextRadios.parentElement.lastElementChild;
						nextCards.classList.add('slide-right');
					}

				}, false);
			});

			burgerBtns.forEach(function(burgerBtn){
				burgerBtn.addEventListener('click', function(){
					closeBtn.classList.remove('slide-down');

					cards.forEach(function(card){
						card.classList.remove('slide-right', 'slide-top');
					});
				}, false);
			});

			closeBtn.addEventListener('click', function(){
				
			});
		}
	</script>
</head>
<body>
	<div class="card-wrap">
		<label class="close slide-down" for="yellow">
			<div class="bar"></div>
			<div class="bar"></div>
		</label>
		<label>
			<input type="radio" name="card" id="purple" class="card-radio">
			<div class="card card-purple slide-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Contact</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="red" class="card-radio">
			<div class="card card-red slide-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>About</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="orange" class="card-radio">
			<div class="card card-orange slide-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Team</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="yellow" class="card-radio" checked>
			<div class="card card-yellow">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Projects</h2>
			</div>
		</label>
	</div>
	
</body>
</html>