<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colorful Cards</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/page_card.css">
	<script>
		window.onload = function(){
			"use strict";
			var cardRadios = document.querySelectorAll('.card-radio');
			var cards = document.querySelectorAll('.card');
			var closeBtn = document.querySelectorAll('.close');
			var burgerBtns = document.querySelectorAll('.burger');
			
			cardRadios.forEach(function(cardRadio, index, cardRadioList){
				cardRadio.addEventListener('click', function(){
					var cardId = this.getAttribute('id');

					closeBtn[0].setAttribute('for', cardId);
					closeBtn[0].classList.add('slider-down');
					
					for(var j = 0; j < index; j++){
						var prevRadios = cardRadioList[j];
						var prevCards = prevRadios.parentElement.lastElementChild;
						prevCards.classList.add('slider-top');
					}

					for(var k = 1; k < cardRadioList.length - index; k++){
						var nextRadios = cardRadioList[index + k];
						var nextCards = nextRadios.parentElement.lastElementChild;
						nextCards.classList.add('slider-right');
					}

				}, false);
			});

			burgerBtns.forEach(function(burgerBtn){
				burgerBtn.addEventListener('click', function(){
					closeBtn[0].classList.remove('slider-down');

					cards.forEach(function(card){
						card.classList.remove('slider-right', 'slider-top');
					});
				}, false);
			});
		}
	</script>
</head>
<body>
	<div class="card-wrap">
		<label class="close slider-down" for="yellow">
			<div class="bar"></div>
			<div class="bar"></div>
		</label>
		<label>
			<input type="radio" name="card" id="purple" class="card-radio">
			<div class="card card-purple slider-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Contact</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="red" class="card-radio">
			<div class="card card-red slider-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>About</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="orange" class="card-radio">
			<div class="card card-orange slider-top">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Team</h2>
			</div>
		</label>
		<label>
			<input type="radio" name="card" id="yellow" class="card-radio" checked>
			<div class="card card-yellow">
				<label class="burger">
					<input type="radio" name="card">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</label>
				<h2>Projects</h2>
			</div>
		</label>
	</div>
	
</body>
</html>
