<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>title</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/page_pay.css">
</head>
<body>
	<div class="payment-wrap">
		<header>
			<div class="container">
				<a href="index.html" class="logo">
					<img src="assets/img/logo.jpg" alt="">
					MENU
				</a>
			</div>
		</header>
		<div class="container">
			<div class="row d-lg-flex align-items-md-center">
				<div class="col-lg-4 offset-lg-6">
					<div class="info text-center">
						<div class="info-title">
							<div class="profile"></div>
							<h2>Elisa Petty</h2>
						</div>
						<p>615-437-0391<br>
							1304 Mississippi St. Sutie 105<br>
							Sans Francisco, CA 94110
						</p>
						<p>"Been thinking about how hard you've been and just wanted to say thank you and i love you so much!"</p>
						<h5>Deliver Today, <b>2PM-3PM</b></h5>
						<small><b>+ ADD SPECIALDELIVERY INSTRUCTIONS</b></small>
						<ul>
							<li>Madison <strong>$60</strong></li>
							<li>Tax <strong>$6.15</strong></li>
							<li class="text-heavy"><strong>Total $66.15</strong></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="booking-bar">
			<div class="title">Payment details</div>
			<div class="d-lg-table-row">
				<div class="fill-group credit-number">
					<label for="number">Credit caard number</label>
					<input id="number" type="text" class="form-control" value="4831-0948-9417-4341">
					<div class="clearfix"></div>
				</div>
				<div class="fill-group d-lg-table-cell credit-month">
					<label for="month">Month</label>
					<select id="month" class="form-control">
						<option selected>(05)May</option>
					</select>
				</div>
				<div class="fill-group d-lg-table-cell credit-year">
					<label for="year">Year</label>
					<select id="year" class="form-control">
						<option selected>2018</option>
					</select>
				</div>
				<div class="fill-group d-lg-table-cell credit-cvc">
					<label for="cvc">CVC</label>
					<input id="cvc" type="text" class="form-control" value="809">
				</div>
				<div class="fill-group d-lg-table-cell credit-zip">
					<label for="zip">ZIP</label>
					<input id="zip" type="text" class="form-control" value="94100">
				</div>
				<a href="###" class="btn btn-primary btn-block d-lg-table-cell">Purchase</a>
			</div>
		</div>
	</div>
</body>
</html>
