<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/vendor/bootstrap4/bootstrap.css">
</head>
<body>
	<div class="background bg-setting" style="background-image: url(assets/img/background.jpg);">
		<div class="inner-bg">
			<header>
				<a href="#">
					<img class="logo" src="assets/img/rose.svg" alt="">
					Menu
				</a>
			</header>
			<div class="main-info">
				<div class="row">
					<div class="offset-md-2 col-md-5">
						<div class="main-img" style="background-image: url(assets/img/flower.png);"></div>
					</div>
					<div class="col-md-4">
						<div class="left-content">
							<div class="name">
								<img src="assets/img/profile.svg" alt="">
								Elisa Wu
							</div>
							<p>
								PHONE 61-889-990
								<br>
								1304 Missiple Suite 105
								<br>
								SanFrancisco, CA 94116
							</p>
							<p>
								"Been Thinking about how hard you've been and just wanted to say thank uoi and I love you so much."
							</p>
							<p class="text-bold">
								Diliver Today, 2PM - 3PM
							</p>
							<p>
								+ ADD SPECIAL DELIVERY INSTRUCTIONS
							</p>
							<p>
								Msdison <span>$60</span>
								<br>
								Tax <span>$6.15</span>
							</p>
							<p class="text-bold">
								Total $66.15
							</p>
						</div>
					</div>
				</div>					
			</div>
			<div class="payment-title">
				Payment Details
			</div>
			<div class="fixed-cta">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4 card-num">
								<div class="num">
									<p>Credit Card Number</p>
									<h4>4831-0948-9988-4555</h4>
								</div>
								<img src="assets/img/visa.svg" alt="">
							</div>
							<div class="col-md-2 card-detail">
								<select name="month" id="" class="form-control">
									<option value="" selected>MONTH</option>
									<option value="Jan">(01)Jan</option>
									<option value="Feb">(02)Feb</option>
									<option value="Mar">(03)Mar</option>
									<option value="Apr">(04)Apr</option>
								</select>
								<p>
									(06)May
								</p>
							</div>
							<div class="col-md-2 card-detail">
								<select name="month" id="" class="form-control">
									<option value="" selected>YEAR</option>
									<option value="Jan">2018</option>
									<option value="Feb">2019</option>
									<option value="Mar">2020</option>
									<option value="Apr">2021</option>
								</select>
								<p>
									2018
								</p>
							</div>
							<div class="col-md-2 card-detail">
								<div class="form-group">
									<label>CVC</label>
									<input class="form-control" type="number" placeholder="CVC">
								</div>
							</div>
							<div class="col-md-2 card-detail">
								<div class="form-group">
									<label>ZIP</label>
									<input class="form-control" type="number" placeholder="ZIP">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 cta-btn">
						<a href="">
							PURCHASE
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
