<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Credic Card Form Jamie</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/main.css">

	<script src="js/main.js"></script>
	
</head>
<body>
	<header class="fixed-top">
		<div class="container-fluid" role="navigation" >
			<nav class="navbar">
				<a href="#">
					<img src="assets/img/icon/ic_menu.svg" alt="">
					MENU
				</a>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<img class="bg-ab cc-bg" src="assets/img/page/img-2.png" alt="">
			<div class="row">
				<div class="col-md-6 offset-md-6 text-center">
					<div class="info">
						<div class="mb-10">
							<div class="bg-setting profile-pic va-m" style="background-image: url(assets/img/page/other1.jpg);"></div>

							<h3 class="ob-ib va-m">Elisa Petty</h3>
						</div>
						<div class="ft-gray ft-300 mb-20">
							<p>615-437-0391</p>
							<p>
								1304 Mississippi St. Suite 105 <br>San Francisco, CA 49110
							</p>
							<p>
								“Been thinking about how hard you’ve been  <br>and just wanted to say thank you and i love  <br>you on so much!”
							</p>
						</div>
						<div class="mb-20">
							<p>
								Deliver Today, <span class="ft-700">2PM-3PM</span>
							</p>
							<p class="ft-gray ft-700">
								+ ADD SPECIAL DELIVERY INSTRUCTIONS
							</p>
						</div>
						<div class="ft-300">
							<p class="ft-gray">
								Madison <span class="ft-700">$60</span>
							</p>
							<p class="ft-gray">
								Tax <span class="ft-700">$6.15</span>
							</p>
							<p class="ft-700">
								Total $66.15
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="btm-nav" class="fixed-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 offset-md-1">
					<div class="title ft-gray ft-300 text-left">
						PAYMENT DETAILS
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 offset-md-1 right-brd">
					<div class="inner-pd">
						<div class="subtitle ft-gray ft-700">
							CREDIT CARD NUMBER
						</div>
						<div class="content">
							4831-0948-9417-4341<img src="img/icon/visa.svg" alt="" class="payment">
						</div>
					</div>
				</div>
				<div class="col-md-1 text-center right-brd">
					<div class="inner-pd">
						<div class="subtitle ft-gray ft-700">
							MONTH <span class="glyphicon glyphicon-triangle-top ft-light-gray"></span>
						</div>
						<div class="content">
							(06) May
						</div>
					</div>
				</div>
				<div class="col-md-1 text-center right-brd">
					<div class="inner-pd">
						<a href="#">
							<div class="subtitle ft-gray ft-700">
								YEAR <span class="glyphicon glyphicon-triangle-top ft-light-gray"></span>
							</div>
						</a>
						<div class="content">
							2018
						</div>
					</div>
				</div>
				<div class="col-md-1 text-center right-brd">
					<div class="inner-pd">
						<div class="subtitle ft-gray ft-700">
							CVC
						</div>
						<div class="content">
							809
						</div>
					</div>
				</div>
				<div class="col-md-1 text-center">
					<div class="inner-pd">
						<div class="subtitle ft-gray ft-700">
							ZIP
						</div>
						<div class="content">
							94100
						</div>
					</div>
				</div>
				<div class="col-md-2 text-center p-btn">
					<a href="#" class="ft-white">PURCHASE</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>	